@use './scss/desktop';
@use './scss/mobile';

$Dark-cyan: hsl(158, 36%, 37%);
$Cream: hsl(30, 38%, 92%);

$Very-dark-blue: hsl(212, 21%, 14%);
$Dark-grayish-blue: hsl(228, 12%, 48%);
$White: hsl(0, 0%, 100%);

$faunces: 'Fraunces';
$montserrat: 'Montseraat';

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: $Cream;
  font-family: $faunces;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: $Cream;
}
